# Set
- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.

### CREATE

In [3]:
My_Set = (4, 5, 7, 7, 7, 6, 6)
My_Set

(4, 5, 7, 7, 7, 6, 6)

In [5]:
Fruit_Set = {"apple", "banana", "cherry"}
print(Fruit_Set)

{'cherry', 'apple', 'banana'}

In [50]:
Fruit_Set = {"apple", "banana", "cherry"}
Fruit_Set.add("orange")
print(Fruit_Set)

{'cherry', 'apple', 'orange', 'banana'}

### READ(For)

In [11]:
Fruit_Set = {"apple", "banana", "cherry"}

for x in Fruit_Set:
  print(x)

cherry
apple
banana

### READ(if)

In [17]:
if 4 in My_Set:
    print("3 is available")
else:
    print("3 is not available")

3 is available

In [19]:
type(list(My_Set))

list

In [21]:
set(My_Set)

{4, 5, 6, 7}

### UPDATE

### Once a set is created, you cannot change its items, but you can add new items.

### DELETE

In [31]:
# To remove an item in a set, use the remove(), or the discard() method.
Fruit_Set = {"apple", "banana", "cherry"}
Fruit_Set.remove("banana")
print(Fruit_Set)

{'cherry', 'apple'}

In [33]:
Fruit_Set = {"apple", "banana", "cherry"}
Fruit_Set.discard("banana")
print(Fruit_Set)

{'cherry', 'apple'}

In [35]:
Fruit_Set = {"apple", "banana", "cherry"}
x = Fruit_Set.pop()
print(x)
print(Fruit_Set)

cherry
{'apple', 'banana'}

In [37]:
# The clear() method empties the set:
Fruit_Set = {"apple", "banana", "cherry"}
Fruit_Set.clear()
print(Fruit_Set)

set()

In [44]:
Fruit_Set = {"apple", "banana", "cherry"}
del Fruit_Set

## Others(Join)