# Data Types

## LIST CRUD(CREATE-READ-UPDATE-DELETE)
- Lists are used to store multiple items in a single variable.

- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

- Lists are created using square brackets:

### CREATE

In [3]:
# Lists are used to store multiple items in a single variable.

In [20]:
# list String, int and boolean data types:
liste_age = [17, 29, 18, 15, 9, 12, 32, 7]
print(liste_age)

[17, 29, 18, 15, 9, 12, 32, 7]

In [22]:
type(liste_age)

list

In [42]:
list_bool = [True, False, False]
print(list_bool)

[True, False, False]

In [114]:
List_Fruit = ["apple", "banana", "cherry", "apple", "cherry"]
print(List_Fruit)

['apple', 'banana', 'cherry', 'apple', 'cherry']

#### List Length

In [30]:
len(liste_age)

8

### list of list

In [118]:
liste = [liste_age, List_Fruit]
print(liste)

[[17, 29, 18, 15, 9, 12, 32, 7], ['apple', 'banana', 'cherry', 'apple', 'cherry']]

### READ

In [54]:
# Access the list
liste_age = [17, 29, 18, 15, 9, 12, 32, 7]
# Access the first position
liste_age[0]

17

In [56]:
# Access the fifth position
liste_age[4]

9

In [58]:
# Access the fifth position
liste_age[-1]

7

In [60]:
# Access on many position
liste_age[0:3]

[17, 29, 18]

In [66]:
# For Loops on list
List_name = ["Hermann", "Dorothe", "Kurthis", "Chelsea"]
for name in List_name:
    print(name)

Hermann
Dorothe
Kurthis
Chelsea

### UPDATE

#### Change Item Value

In [88]:
List_name = ["Hermann", "Dorothe", "Kurthis", "Chelsea"]
List_name[2] = "Moaye"
print(List_name)

['Hermann', 'Dorothe', 'Moaye', 'Chelsea']

#### Append Items

In [93]:
# To add an item to the end of the list, use the append() method:
List_Fruit = ["apple", "banana", "cherry"]
List_Fruit.append("orange")
print(List_Fruit)

['apple', 'banana', 'cherry', 'orange']

In [108]:
List_name = ["Hermann", "Dorothe", "Kurthis", "Chelsea"]
List_name.append("Brou")
print(List_name)

['Hermann', 'Dorothe', 'Kurthis', 'Chelsea', 'Brou']

#### Extend Items

In [97]:
# To insert a list item at a specified index, use the insert() method.
List_Fruit = ["apple", "banana", "cherry"]
List_Fruit.insert(1, "orange")
print(List_Fruit)

['apple', 'orange', 'banana', 'cherry']

In [99]:
# To append elements from another list to the current list, use the extend() method.
#Add the elements of tropical to thislist:
List_Fruit = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
List_Fruit.extend(tropical)
print(List_Fruit)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### DELETE

#### Remove

In [110]:
# The remove() method removes the specified item.
List_name = ["Hermann", "Dorothe", "Kurthis", "Chelsea", "Hannah"]
List_name.remove("Hannah")
print(List_name)

['Hermann', 'Dorothe', 'Kurthis', 'Chelsea']

In [112]:
# Remove specified index
List_Fruit = ["apple", "banana", "cherry"]
List_Fruit.pop(1) 
print(List_Fruit)

['apple', 'cherry']

#### Del

In [120]:
# The del keyword also removes the specified index:
List_Fruit = ["apple", "banana", "cherry"]
del List_Fruit[0]
print(List_Fruit)

['banana', 'cherry']

In [138]:
# Delete the entire list:
List_Fruit = ["apple", "banana", "cherry"]
del List_Fruit

#### Clear

In [136]:
# The clear() method empties the list.
List_Fruit = ["apple", "banana", "cherry"]
List_Fruit.clear()
print(List_Fruit)

[]

## Other List(Sort-Copy-join)

### Sort List Alphanumerically

#### Sort Ascending

In [152]:
List_Fruit = ["orange", "mango", "kiwi", "pineapple", "banana"]
List_Fruit.sort()
print(List_Fruit)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [144]:
List_number = [125, 28, 18, 40, 38]
List_number.sort()
print(List_number)

[18, 28, 38, 40, 125]

#### Sort Descending

In [154]:
List_Fruit = ["orange", "mango", "kiwi", "pineapple", "banana"]
List_Fruit.sort(reverse = True)
print(List_Fruit)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [156]:
List_number = [100, 50, 65, 82, 23]
List_number.sort(reverse = True)
print(List_number)

[100, 82, 65, 50, 23]

### Join Two List

In [160]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]